@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/FuturaDemiC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
body * {
  padding: 0;
  margin: 0;
  text-size-adjust: 100%;
}

/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: "Arial", "Helvetica", sans-serif;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  box-sizing: border-box;
}

/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  appearance: textfield;
  box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.horizontal-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal-menu > * {
  display: inline-block;
}
.horizontal-menu__item {
  cursor: pointer;
}
.horizontal-menu__item_active, .horizontal-menu__item:hover {
  font-weight: bold;
}
.horizontal-menu__item:active {
  font-weight: normal;
  opacity: 0.7;
}

.proportional-box {
  position: relative;
}
.proportional-box__height {
  position: static;
}
.proportional-box__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer-header {
  margin: 0 auto;
}
.layer-header__text {
  font-family: "Yeseva One", "Arial", serif;
  font-size: 20px;
  line-height: 28px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}
.layer-header__text_on-dark {
  color: #ffffff;
}
.layer-header__icon {
  margin-top: 12px;
  text-align: center;
}
.layer-header__icon .layer-icon {
  display: inline-flex;
  align-items: center;
}
.layer-header__icon .layer-icon__line {
  border: 1px solid #e3b873;
}
.layer-header__icon .layer-icon__icon {
  margin: 0 8px;
}
.layer-header__icon .layer-icon .line {
  width: 54px;
  height: 0;
}

.pagination {
  display: flex;
  align-items: flex-end;
}
.pagination__prev, .pagination__next {
  width: 44px;
  height: 15px;
  background-image: url("../assets/img/left-pagi-arrow-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}
.pagination__prev:active, .pagination__next:active {
  opacity: 0.5;
}
.pagination__next {
  transform: rotate(180deg);
}
.pagination__item-wrapper {
  display: flex;
  margin: 0 21px;
}
.pagination__item {
  width: 10px;
  height: 10px;
  margin: 2.5px 9px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.pagination__item_active, .pagination__item:hover {
  background-color: #ffffff;
}
.pagination__item:active {
  opacity: 0.5;
}

.form .form__title {
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.form .form__agree {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: white;
}
.form .form__agree input[type=checkbox] {
  position: absolute;
  z-index: -1;
}
.form .form__agree input[type=checkbox]:checked + *::before {
  background-position: 18px;
}
.form .form__agree label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form .form__agree label::before {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../assets/img/measurement-checkbox-icon.svg");
  content: " ";
}
.form .form__agree label:hover {
  text-shadow: 0 0 2px #e3b873;
}
.form .form__agree label:hover::before {
  box-shadow: inset 2px 2px 3px #e3b873, inset -2px -2px 3px #e3b873;
}
.form .form__submit {
  width: 213px;
  height: 51px;
  margin: 40px 0 0 auto;
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  background: #e3b873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.form .form__submit:hover {
  box-shadow: 0 10px 15px rgba(227, 184, 115, 0.15);
}
.form .form__submit:active {
  box-shadow: 0 1px 15px rgba(227, 184, 115, 0.15);
}
.form .field {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.form .field__name {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.form .field__value {
  margin: 3px 0 3px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
}
.form .field__value::placeholder {
  color: #ffffff;
}

.header,
.footer {
  padding: 23px 0;
  display: grid;
  grid-template-columns: 82px 190px calc(7 / 48 * 100% - 125px) 498px calc(1 / 12 * 100% - 60px) 120px 40px 160px calc(1 / 3 * 100% - 380px);
  align-items: center;
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #131313;
}
.header .title,
.footer .title {
  grid-column: 2;
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: #e3b873;
}
.header .menu,
.footer .menu {
  grid-column: 4;
}
.header .menu ul,
.footer .menu ul {
  display: flex;
  justify-content: space-between;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  color: #ffffff;
  list-style-type: none;
}
.header .menu ul li,
.footer .menu ul li {
  margin: 0 8px;
}
.header .menu ul a,
.footer .menu ul a {
  color: inherit;
  font-weight: normal;
  text-decoration: unset;
}
.header .menu ul a:hover,
.footer .menu ul a:hover {
  color: #e3b873;
}
.header .menu ul a:active,
.footer .menu ul a:active {
  opacity: 0.5;
}
.header .phone,
.footer .phone {
  grid-column: 6;
  margin: 0;
  color: #e3b873;
}
.header .phone:active,
.footer .phone:active {
  opacity: 0.5;
}
.header .request-call-btn,
.footer .request-call-btn {
  grid-column: 8;
  width: 161px;
  height: 37px;
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  background-color: #e3b873;
  cursor: pointer;
}
.header .request-call-btn:active,
.footer .request-call-btn:active {
  opacity: 0.7;
}
@media only screen and (max-width: 1200px) {
  .header,
.footer {
    grid-template-columns: 82px 190px calc(2 / 5 * 100% - 330px) calc(1 / 5 * 100% + 258px) calc(2 / 5 * 100% - 340px) 120px 20px;
  }
  .header .request-call-btn,
.footer .request-call-btn {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .header,
.footer {
    grid-template-columns: calc(31 / 100 * 100% - 228px) 190px calc(1 / 4 * 100% - 180px) calc(6 / 25 * 100% + 208px) calc(1 / 5 * 100% - 140px) 120px 20px;
    font-size: 12px;
    line-height: 14px;
  }
  .header .phone,
.footer .phone {
    text-align: right;
  }
}
@media only screen and (max-width: 800px) {
  .header,
.footer {
    grid-template-columns: auto auto;
    padding: 23px 18px;
    font-size: 14px;
    line-height: 16px;
  }
  .header .title,
.footer .title {
    grid-column: 1;
  }
  .header .menu,
.footer .menu {
    display: none;
  }
  .header .phone,
.footer .phone {
    grid-column: 2;
    color: #ffffff;
  }
}
@media only screen and (max-width: 800px) {
  .header,
.footer {
    font-size: 12px;
    line-height: 14px;
  }
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 707px;
  margin-left: 82px;
  padding-left: 60px;
  background-color: black;
  background-image: url("../assets/img/banner-background.png");
}
.banner .title {
  width: 530px;
  margin-bottom: 19px;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}
.banner .title span {
  color: #e3b873;
}
.banner .text {
  width: 440px;
  margin-bottom: 40px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}
.banner p.text {
  display: none;
}
.banner .buttons-panel {
  display: flex;
  justify-content: space-between;
  width: 434px;
}
.banner .buttons-panel__button {
  box-sizing: border-box;
  width: 207px;
  height: 51px;
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  color: #ffffff;
  background-color: unset;
  border-radius: 2px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.banner .buttons-panel__button:hover {
  border: 0;
  background-color: #e3b873;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.3);
}
.banner .buttons-panel__button:active {
  opacity: 0.9;
}
.banner .scroll-down-btn {
  position: absolute;
  bottom: -48px;
  left: -82px;
  width: 248px;
  height: 98px;
  color: #ffffff;
  background-color: #131313;
  border: 0;
  cursor: pointer;
}
.banner .scroll-down-btn:hover {
  color: #e3b873;
}
.banner .scroll-down-btn:active .scroll-down-btn__text {
  opacity: 0.5;
}
.banner .scroll-down-btn__text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.banner .scroll-down-btn__text::after {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-left: 12px;
  background-image: url("../assets/img/scroll-down-icon.svg");
  content: " ";
}
.banner .instagram-link {
  position: absolute;
  top: 227px;
  left: -49px;
  display: inline-flex;
  align-items: center;
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-decoration: none;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: left bottom;
}
.banner .instagram-link::after {
  display: inline-block;
  width: 51px;
  height: 0;
  margin-left: 8px;
  border: 1.5px solid #e3b873;
  content: " ";
}
.banner .instagram-link:active {
  opacity: 0.7;
}
@media only screen and (max-width: 1000px) {
  .banner {
    margin-left: calc(31 / 100 * 100% - 228px);
  }
  .banner .instagram-link {
    display: none;
  }
  .banner .scroll-down-btn {
    left: calc(-31 / 100 * 100% + 228px);
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    justify-content: space-between;
    height: auto;
    padding: 85px 18px 61px;
    margin: 0;
    background-position: center;
    background-size: cover;
  }
  .banner .title {
    width: auto;
    margin-bottom: 16px;
    font-size: 23px;
    line-height: 30px;
  }
  .banner pre.text {
    display: none;
  }
  .banner p.text {
    display: block;
    width: auto;
    margin-bottom: 32px;
  }
  .banner .buttons-panel {
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 128px;
  }
  .banner .buttons-panel__button {
    width: auto;
  }
  .banner .scroll-down-btn,
.banner .instagram-link {
    display: none;
  }
}

.projects {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 125px 100px 128px 200px 1fr;
  grid-column-gap: 50px;
  padding: 50px 0 416px 65px;
  grid-template-areas: "indent navbar" "title slider" "text slider" "features slider" "pagination slider";
}
.projects__indent {
  grid-area: indent;
}
.projects__navbar {
  grid-area: navbar;
  height: 125px;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.projects .horizontal-menu {
  justify-content: flex-start;
}
.projects .horizontal-menu__item {
  margin-right: 60px;
  padding-bottom: 6px;
}
.projects .horizontal-menu__item:nth-child(3) {
  margin-right: 0;
}
.projects .horizontal-menu__item_active, .projects .horizontal-menu__item:hover {
  font-weight: normal;
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}
.projects__slider {
  grid-area: slider;
}
.projects__slider .slider {
  position: relative;
  height: 480px;
  font-size: 0;
  overflow: hidden;
}
.projects__slider .slider__controls-layer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 45px;
}
.projects__slider .slider__next-btn, .projects__slider .slider__prev-btn {
  z-index: 10;
  width: 54px;
  height: 54px;
  border-radius: 54px;
  box-shadow: 0 0 15px rgba(227, 184, 115, 0.5);
  background-color: #e3b873;
  background-image: url("../assets/img/slider-btn-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.projects__slider .slider__next-btn:hover, .projects__slider .slider__prev-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.projects__slider .slider__next-btn:active, .projects__slider .slider__prev-btn:active {
  opacity: 1;
}
.projects__slider .slider__next-btn_hidden, .projects__slider .slider__prev-btn_hidden {
  z-index: 5;
}
.projects__slider .slider__prev-btn {
  transform: rotate(180deg);
}
.projects__slider .slider__content-layer {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: max-content;
  margin: 0 -14px;
}
.projects__slider .slider__item {
  display: inline-block;
  margin: 0 14px;
}
@media only screen and (max-width: 600px) {
  .projects__slider .slider__prev-btn {
    transform: rotate(180deg) scale(0.66);
  }
  .projects__slider .slider__next-btn {
    transform: scale(0.66);
  }
}
.projects__title {
  grid-area: title;
  font-size: 0;
}
.projects__title .with-after {
  display: flex;
  align-items: flex-end;
  width: min-content;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
}
.projects__title .with-after::after {
  position: relative;
  left: -24px;
  display: inline-block;
  width: 104px;
  margin-bottom: 13px;
  border: 1px solid #e3b873;
  content: " ";
}
@media only screen and (max-width: 800px) {
  .projects__title {
    display: flex;
    justify-content: center;
  }
  .projects__title .with-after {
    align-items: flex-start;
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
  }
  .projects__title .with-after::after {
    display: none;
  }
}
.projects__text {
  grid-area: text;
  width: 98%;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
@media only screen and (max-width: 800px) {
  .projects__text {
    width: auto;
    margin: 0 14px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .projects__text {
    font-size: 14px;
    line-height: 158.48%;
  }
}
.projects__features {
  grid-area: features;
  display: grid;
  grid-template-columns: 43% 57%;
  grid-template-rows: 106px 1fr;
}
.projects__features .field__name {
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #e3b873;
}
.projects__features .field__value {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
@media only screen and (max-width: 800px) {
  .projects__features {
    grid-template-columns: 47% 53%;
    grid-template-rows: 95px 108px;
  }
  .projects__features .field__name {
    font-size: 14px;
    line-height: 138.6%;
  }
  .projects__features .field__value {
    font-size: 14px;
    line-height: 19px;
  }
}
@media only screen and (max-width: 1200px) {
  .projects {
    grid-template-columns: 250px 1fr;
    grid-template-areas: "title navbar" "text slider" "text slider" "features slider" "pagination slider";
  }
  .projects__indent {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .projects {
    padding: 36px 18px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 88px auto auto 167px;
    grid-column-gap: 0;
    grid-template-areas: "title" "text" "slider" "features";
  }
  .projects__navbar,
.projects .pagination {
    display: none;
  }
  .projects .slider {
    position: relative;
    height: auto;
    margin: 40px 0 45px;
    overflow: visible;
    display: flex;
    justify-content: center;
  }
  .projects .slider__prev-btn_hidden {
    z-index: 10;
  }
  .projects .slider__controls-layer {
    position: absolute;
    width: 92%;
    padding: 0;
  }
  .projects .slider__content-layer {
    width: 100%;
    position: static;
  }
  .projects .slider__item {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .projects .slider__item:not(:nth-child(2)) {
    display: none;
  }
}

.online-control-outer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1px;
  display: flex;
  align-items: center;
}

.online-control {
  position: relative;
  top: 158px;
  margin: 0 auto;
  background-color: transparent;
  max-width: 817px;
}
.online-control__title {
  margin: 0 auto 32px;
}
.online-control__title .layer-icon__icon {
  width: 34px;
  height: 29px;
  background-image: url("../assets/img/online-control-icon.svg");
}
.online-control__video {
  margin: 0 auto 62px;
}
.online-control__video .proportional-box__height {
  padding-top: calc(9 / 16 * 100%);
}
.online-control__video .proportional-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.online-control__line {
  margin-bottom: 34px;
}
.online-control__text {
  width: 681px;
  margin: 0 auto 90px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636;
}
.online-control .line {
  width: 54px;
  height: 0;
  border: 1.5px solid #e3b873;
  margin: 0 auto;
}
.online-control .request-call {
  display: grid;
  grid-template-columns: 231px 231px 200px;
  grid-template-rows: 75px auto;
  grid-template-areas: "name phone submit" "agreement agreement agreement";
  justify-content: space-between;
  margin: 0 auto;
}
.online-control .request-call > * {
  display: inline-block;
}
.online-control .request-call__name {
  grid-area: name;
}
.online-control .request-call__phone {
  grid-area: phone;
}
.online-control .request-call__submit {
  grid-area: submit;
  height: 51px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: #e3b873;
  box-shadow: 0 15px 15px rgba(227, 184, 115, 0.15);
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
.online-control .request-call__submit:active {
  opacity: 0.5;
}
.online-control .request-call__agreement {
  grid-area: agreement;
  margin: 0 auto;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}
.online-control .request-call__agreement input[type=checkbox] {
  position: absolute;
  z-index: -1;
}
.online-control .request-call__agreement input[type=checkbox]:checked + *::before {
  background-position: 18px;
}
.online-control .request-call__agreement label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.online-control .request-call__agreement label::before {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-image: url("../../assets/img/checkbox-icon.svg");
  content: " ";
}
.online-control .request-call__agreement label:hover {
  text-shadow: 0 0 2px #e3b873;
}
.online-control .request-call__agreement label:hover::before {
  box-shadow: 0 0 5px #e3b873;
}
.online-control .field {
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.online-control .field__name {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(54, 54, 54, 0.5);
}
.online-control .field__value {
  margin: 3px 0 3px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #363636;
}

@media only screen and (max-width: 800px) {
  .online-control-outer {
    position: initial;
    width: initial;
    height: initial;
  }

  .online-control {
    position: static;
    padding: 0 17px;
  }
  .online-control__title {
    margin: 36px auto 40px;
  }
  .online-control__video {
    margin-bottom: 28px;
  }
  .online-control__line {
    margin-bottom: 22px;
  }
  .online-control__text {
    width: auto;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
  }
  .online-control .request-call {
    grid-template-columns: 1fr;
    grid-template-rows: 108px 73px 55px 51px;
    grid-template-areas: "name" "phone" "agreement" "submit";
  }
  .online-control .request-call__phone {
    width: 100%;
  }
  .online-control .request-call__name {
    width: 100%;
  }
  .online-control .request-call__submit {
    position: relative;
    top: 21.5px;
    width: 100%;
  }
  .online-control .request-call__agreement {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
  .online-control .request-call .field__name {
    font-size: 15px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }
  .online-control .request-call .field__value {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
}
.types-of-repair {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 779px 0 124px;
  background-color: white;
}
.types-of-repair__title {
  margin-bottom: 31px;
}
.types-of-repair__title .layer-icon__icon {
  width: 28px;
  height: 28px;
  background-image: url("../../assets/img/types-of-repair-icon.svg");
}
.types-of-repair__title .layer-icon__line.line {
  width: 32px;
}
.types-of-repair__items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1236px;
  margin: 0 -15px 27px;
}
.types-of-repair__item {
  width: 32%;
  margin-bottom: 187px;
  background-position: center;
  background-size: cover;
}
.types-of-repair__item:nth-child(1) {
  background-image: url("../assets/img/repair-types-card-bg-1.png");
}
.types-of-repair__item:nth-child(2) {
  background-image: url("../assets/img/repair-types-card-bg-2.png");
}
.types-of-repair__item:nth-child(3) {
  background-image: url("../assets/img/repair-types-card-bg-3.png");
}
.types-of-repair__item .card {
  position: relative;
  top: 233px;
  padding: 25px 12% 59px;
  margin: 65px 32px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.types-of-repair__item .card__title {
  margin-bottom: 13px;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.types-of-repair__item .card__features {
  margin: 0 0 0 15px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.types-of-repair__item .card__price {
  position: absolute;
  left: 0;
  bottom: -26px;
  width: 228px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
@media only screen and (max-width: 1000px) {
  .types-of-repair {
    padding-bottom: 470px;
  }
  .types-of-repair .card {
    padding: 25px calc(0.498 * 100% - 107px) 59px;
  }
}
@media only screen and (max-width: 800px) {
  .types-of-repair {
    padding: 83px 17px 350px;
  }
  .types-of-repair__title {
    margin-bottom: 40px;
  }
  .types-of-repair__items-container {
    flex-direction: column;
  }
  .types-of-repair__item {
    width: auto;
    padding: 30px 0;
    margin-bottom: 177px;
  }
  .types-of-repair .card {
    padding: 25px 12% 59px;
  }
}
@media only screen and (max-width: 600px) {
  .types-of-repair {
    padding-bottom: 150px;
  }
  .types-of-repair .card {
    top: 173px;
    padding: 25px 12% 37px;
    margin-left: 0;
  }
  .types-of-repair .card__title {
    font-size: 15px;
    line-height: 21px;
  }
  .types-of-repair .card__features {
    font-size: 13px;
    line-height: 22px;
  }
  .types-of-repair .card__price {
    bottom: -20px;
    width: 190px;
    height: 40px;
    font-size: 15px;
    line-height: 21px;
  }
}

.measurement {
  height: 968px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 38%;
  grid-column-gap: 54px;
  grid-template-rows: 612px max-content;
  grid-row-gap: 38px;
  grid-template-areas: "flow form" "flow ad";
  padding-right: 99px;
}
@media only screen and (max-width: 1000px) {
  .measurement {
    display: none;
  }
}
.measurement__flow {
  grid-area: flow;
  height: 692px;
  background-image: url("../assets/img/measurement-bg.png");
  background-position-x: right;
}
.measurement__form {
  grid-area: form;
  align-self: flex-end;
  background-color: #131313;
}
.measurement__ad {
  grid-area: ad;
  width: 441px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.measurement__ad .icon {
  width: 72px;
  height: 72px;
  background-color: #e3b873;
  border-radius: 50%;
  background-image: url("../assets/img/pig-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.measurement__ad .text {
  width: 240px;
  margin-left: 25px;
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #e3b873;
  text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
}
.measurement .form {
  padding: 0 49px 27px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
@media only screen and (max-width: 1200px) {
  .measurement .form {
    padding: 0 32px 27px;
  }
}
.measurement .form .form__title {
  align-self: center;
  max-width: 250px;
  margin-top: 30px;
}
.measurement .form .form__name {
  margin-top: 40px;
}
.measurement .form .form__phone {
  margin-top: 50px;
}
.measurement .form .form__email {
  margin-top: 50px;
}
.measurement .form .form__agree {
  margin-top: 16px;
}
.measurement .form .form__submit {
  width: 213px;
  height: 51px;
  margin: 40px 0 0 auto;
}
.measurement .field {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.measurement .field__name {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.measurement .field__value {
  margin: 3px 0 3px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: white;
}
.measurement .field__value::placeholder {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .styles-outer {
    position: absolute;
    width: 100%;
    height: 1px;
    display: flex;
  }
  .styles-outer .styles {
    position: relative;
    top: -45px;
    width: 100%;
    align-self: center;
  }
}

.styles {
  height: 830px;
  padding: 0 calc(100% / 6 - 140px);
  display: grid;
  grid-template-columns: 280px 740px;
  grid-template-rows: 200px 1fr;
  grid-row-gap: 47px;
  justify-content: space-between;
  background-image: url("../assets/img/styles-bg.png");
}
.styles__title {
  margin-top: auto;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873;
}
.styles__sidebar ul {
  list-style-type: none;
  font-family: "Proxima Nova", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.styles__sidebar li {
  margin-bottom: 25px;
  cursor: pointer;
}
.styles__sidebar li:hover, .styles__sidebar li.active {
  color: #e3b873;
  text-decoration: underline;
}
.styles__sidebar li:active {
  opacity: 0.7;
}
.styles__slider {
  display: none;
}
.styles__slider .controls-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.styles__slider .controls-wrapper .next-button,
.styles__slider .controls-wrapper .prev-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(227, 184, 115, 0.5);
  background-color: #e3b873;
  background-image: url("../assets/img/rihgt-arrow-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.styles__slider .controls-wrapper .prev-button {
  transform: rotate(180deg);
}
.styles__slider .controls-wrapper .next-button {
  margin-left: auto;
}
.styles__gallery {
  height: 100%;
  display: flex;
  align-items: center;
  grid-column: 2;
  grid-row: 1/span 2;
}
.styles .gallery {
  width: 100%;
  height: calc(1.3 * 100%);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.styles .gallery__item {
  width: calc(50% - 15px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.styles .gallery__item:nth-child(1), .styles .gallery__item:nth-child(4) {
  height: calc(100% / 1.3 * 1.1 * 0.35 - 15px);
}
.styles .gallery__item:nth-child(2), .styles .gallery__item:nth-child(3) {
  height: calc(100% / 1.3 * 1.1 * 0.65 - 15px);
}
.styles .gallery__item:nth-child(1), .styles .gallery__item:nth-child(3) {
  padding-bottom: 15px;
}
.styles .gallery__item:nth-child(2), .styles .gallery__item:nth-child(4) {
  padding-top: 15px;
}
.styles .gallery__item:nth-child(3), .styles .gallery__item:nth-child(4) {
  margin-left: auto;
}
.styles .gallery__item:nth-child(4) {
  margin-bottom: auto;
}
.styles .gallery__item img {
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  .styles {
    grid-template-columns: 250px 670px;
  }
  .styles .gallery {
    height: 100%;
  }
  .styles .gallery__item:nth-child(1) {
    margin-top: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .styles {
    height: auto;
    padding: 0 calc(2 * 100% / 125 + 11px);
    display: block;
    background: none;
  }
  .styles__title {
    width: 280px;
    text-align: center;
    margin: 0 auto 40px;
  }
  .styles__sidebar, .styles__gallery {
    display: none;
  }
  .styles__slider {
    display: block;
  }
  .styles__slider .proportional-box__height {
    padding-top: calc(10 / 16 * 100%);
  }
  .styles .slider {
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  .styles .slider__item {
    height: 100%;
  }
  .styles .slider__item img {
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .styles__title {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
  }
}

.design-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 85px;
  background-image: linear-gradient(#ffffff 57%, #131313 43%);
}
.design-project__title {
  margin-bottom: 31px;
}
.design-project__title .layer-icon__icon {
  width: 28px;
  height: 28px;
  background-image: url("../../assets/img/design-project-icon.svg");
}
.design-project__title .layer-icon__line.line {
  width: 32px;
}
.design-project__text {
  max-width: 660px;
  margin-bottom: 40px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636;
}
.design-project__items-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1236px;
  margin: 0 -15px 27px;
}
.design-project__item {
  width: 32%;
  height: 420px;
  margin-bottom: 187px;
  background-position: center;
  background-size: cover;
}
.design-project__item:nth-child(1) {
  background-image: url("../assets/img/repair-types-card-bg-1.png");
}
.design-project__item:nth-child(2) {
  background-image: url("../assets/img/repair-types-card-bg-3.png");
}
.design-project__item:nth-child(3) {
  background-image: url("../assets/img/repair-types-card-bg-2.png");
}
.design-project__item .card {
  position: relative;
  top: 233px;
  padding: 25px 12% 59px;
  margin: 65px 32px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.design-project__item .card__title {
  margin-bottom: 13px;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}
.design-project__item .card__features {
  margin: 0 0 0 15px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #959595;
}
.design-project__item .card__price {
  position: absolute;
  left: 0;
  bottom: -26px;
  width: 228px;
  height: 54px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}
@media only screen and (max-width: 1000px) {
  .design-project {
    margin-top: 0;
    padding-top: 40%;
    background-color: #131313;
    background-image: none;
  }
  .design-project .layer-header__text {
    font-size: 22px;
    line-height: 30px;
    color: white;
  }
  .design-project__text {
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
  }
  .design-project .card {
    padding: 25px calc(0.498 * 100% - 107px) 59px;
  }
}
@media only screen and (max-width: 800px) {
  .design-project {
    padding: 40% 17px 270px;
  }
  .design-project__title {
    margin-bottom: 40px;
  }
  .design-project__items-container {
    flex-direction: column;
  }
  .design-project__item {
    width: auto;
    height: 352px;
    padding: 0;
  }
  .design-project__item:nth-child(1) {
    margin-bottom: 264px;
  }
  .design-project__item:nth-child(2) {
    margin-bottom: 343px;
  }
  .design-project__item:nth-child(3) {
    margin-bottom: 100px;
  }
  .design-project .card {
    padding: 25px 12% 59px;
  }
}
@media only screen and (max-width: 600px) {
  .design-project {
    padding-bottom: 240px;
  }
  .design-project__item {
    height: 352px;
    padding-bottom: 0;
  }
  .design-project__item:nth-child(1) {
    margin-bottom: 164px;
  }
  .design-project__item:nth-child(2) {
    margin-bottom: 227px;
  }
  .design-project__item:nth-child(3) {
    margin-bottom: 0;
  }
  .design-project .card {
    top: 173px;
    padding: 25px 12% 37px;
    margin-left: 0;
  }
  .design-project .card__title {
    font-size: 15px;
    line-height: 21px;
  }
  .design-project .card__features {
    font-size: 13px;
    line-height: 22px;
  }
  .design-project .card__price {
    bottom: -20px;
    width: 190px;
    height: 40px;
    font-size: 15px;
    line-height: 21px;
  }
}

.workflow {
  max-width: 1176px;
  margin: 0 auto;
  background-color: #131313;
}
.workflow.two-columns {
  display: grid;
  grid-template-columns: 30% 60%;
  justify-content: space-between;
}
.workflow__title .first-line {
  font-family: "FuturaDemiC", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
}
.workflow__title .with-after-line {
  margin-top: 18px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 27px;
  line-height: 1.4;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #e3b873;
}
.workflow__title .with-after-line::after {
  display: inline-block;
  width: 92px;
  margin-bottom: 13px;
  margin-right: 30px;
  border: 1px solid #e3b873;
  content: " ";
}
.workflow__step-description {
  margin-top: 90px;
}
.workflow__pagination {
  margin-top: 90px;
}
.workflow__step-navigation {
  margin-top: 100px;
}
.workflow__slider {
  margin-top: 44px;
}
.workflow__slider .proprtional {
  position: relative;
  padding-top: 50%;
}
.workflow__slider .proprtional__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.workflow .step-description__number {
  font-family: "Yeseva One", "Arial", serif;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.workflow .step-description__title {
  margin-top: 22px;
  font-family: "Yeseva One", "Arial", serif;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
  color: #e3b873;
}
.workflow .step-description__text {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
}
.workflow .step-description__text p {
  margin-top: 1em;
}
.workflow .step-navigation {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, auto);
  row-gap: 36px;
  justify-content: space-between;
}
.workflow .step-navigation__step {
  opacity: 0.3;
  cursor: pointer;
  user-select: none;
}
.workflow .step-navigation__step:hover, .workflow .step-navigation__step.active {
  opacity: 1;
}
.workflow .step-navigation__step:active {
  opacity: 0.7;
}
.workflow .step-navigation__number {
  display: inline-block;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 1px solid #e3b873;
}
.workflow .step-navigation__title {
  margin-top: 1em;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.05em;
}
.workflow .slider {
  background-position: center;
  background-image: url("../../assets/img/workflow.png");
}
@media only screen and (max-width: 1200px) {
  .workflow {
    margin: 0 32px;
  }
  .workflow.two-columns {
    grid-template-columns: 35% 60%;
  }
  .workflow__title .with-after-line {
    font-size: 22px;
  }
  .workflow__title .with-after-line::after {
    width: 60px;
  }
}
@media only screen and (max-width: 1000px) {
  .workflow__step-description {
    margin-top: 60px;
  }
  .workflow__pagination {
    margin-top: 60px;
  }
  .workflow .step-description__text {
    font-size: 14px;
    line-height: 1.4;
  }
}
@media only screen and (max-width: 800px) {
  .workflow.two-columns {
    display: none;
  }
}

.team {
  margin-top: 90px;
  background-image: linear-gradient(#131313 50%, #ffffff 50%);
}
@media only screen and (max-width: 1000px) {
  .team {
    background-image: none;
  }
}
@media only screen and (max-width: 800px) {
  .team {
    margin-top: 75px;
  }
}
@media only screen and (max-width: 800px) {
  .team {
    padding: 0 16px;
  }
}
.team__title .layer-icon__icon {
  width: 29px;
  height: 29px;
  background-image: url("../../assets/img/team-icon.svg");
}
.team__top-text {
  max-width: 550px;
  margin: 1em auto 2em;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 800px) {
  .team__top-text {
    font-size: 15px;
  }
}
.team__line {
  width: 55px;
  margin: 50px auto 0;
  border: 1px solid #e3b873;
}
@media only screen and (max-width: 1000px) {
  .team__line {
    display: none;
  }
}
.team__bottom-text {
  max-width: 550px;
  margin: 1em auto 0;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  text-align: center;
  color: #363636;
}
@media only screen and (max-width: 1000px) {
  .team__bottom-text {
    display: none;
  }
}
.team__cards {
  max-width: 1064px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .team__cards {
    padding: 0 32px;
  }
}
@media only screen and (max-width: 1000px) {
  .team__cards {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 800px) {
  .team__cards {
    padding: 0 64px;
  }
}
@media only screen and (max-width: 600px) {
  .team__cards {
    padding: 0 0;
  }
}
.team .teamate {
  flex-basis: 26%;
  padding: 35px 0 55px 35px;
}
@media only screen and (max-width: 1200px) {
  .team .teamate {
    flex-basis: 27%;
  }
}
@media only screen and (max-width: 1000px) {
  .team .teamate {
    flex-basis: 306px;
    margin: 0 auto 32px;
  }
}
.team .teamate:nth-child(1) .teamate__foto {
  background-image: url("../../assets/img/teamates/Dmitry-Tulyakov.png");
}
.team .teamate:nth-child(2) .teamate__foto {
  background-image: url("../../assets/img/teamates/Larisa-Kotlyarova.png");
}
.team .teamate:nth-child(3) .teamate__foto {
  background-image: url("../../assets/img/teamates/Alexey-Efimov.png");
}
.team .teamate__icon {
  position: absolute;
  width: 70px;
  height: 70px;
  box-shadow: 0 5px 20px rgba(227, 184, 115, 0.5);
  background-color: #e3b873;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}
.team .teamate__icon.idea {
  background-image: url("../../assets/img/idea-icon.svg");
}
.team .teamate__icon.pen {
  background-image: url("../../assets/img/pen-icon.svg");
}
.team .teamate__icon.portfolio {
  background-image: url("../../assets/img/portfolio-icon.svg");
}
.team .teamate__foto {
  width: 100%;
  height: 360px;
  display: flex;
  background-size: cover;
  background-position: center;
}
.team .teamate__description {
  width: 230px;
  margin: auto auto 0;
  background-color: #ffffff;
  transform: translateY(40%);
}
.team .teamate__name {
  margin-top: 1.3em;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #181818;
}
.team .teamate__profession {
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #959595;
}
.team .teamate__experience {
  margin-top: 1.3em;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 13px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873;
}

.our-clients {
  padding: 90px 0 350px;
  background-color: #ffffff;
}
@media only screen and (max-width: 1000px) {
  .our-clients {
    display: none;
  }
}
.our-clients__title .layer-icon__icon {
  width: 28px;
  height: 28px;
  background-image: url("../../assets/img/design-project-icon.svg");
}
.our-clients__title .layer-icon__line.line {
  width: 32px;
}
.our-clients__text {
  max-width: 550px;
  margin: 1em auto 2em;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #363636;
}
.our-clients__cards {
  max-width: 1240px;
  margin: 48px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.our-clients .client {
  flex-basis: 30%;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}
.our-clients .client:nth-child(1) .client__foto {
  background-image: url("../../assets/img/clients/Fedosova-Maria-Konstantinovna.png");
}
.our-clients .client:nth-child(2) .client__foto {
  background-image: url("../../assets/img/clients/Afanasyev-Sergey-Alexandrovich.png");
}
.our-clients .client:nth-child(3) .client__foto {
  background-image: url("../../assets/img/clients/Kiriev-Egor-Leonidovich.png");
}
.our-clients .client .client__foto {
  width: 76px;
  height: 76px;
  margin: 22px;
  float: left;
  border-radius: 50%;
}
.our-clients .client .client__name {
  height: 76px;
  width: calc(100% - 142px);
  margin: 22px 0;
  margin-left: 0;
  display: inline-flex;
  align-items: center;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 18px;
  line-height: 1.4;
  color: #181818;
}
.our-clients .client .client__comment {
  margin: 0 22px;
  font-family: "FuturaBookC", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: #959595;
}
.our-clients .client .client__comment p {
  margin-bottom: 0.5em;
}
.our-clients .client .client__features {
  display: inline-block;
  background-color: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  transform: translateY(50%);
}
.our-clients .client__area, .our-clients .client__time {
  padding: 11px 17px;
  display: inline-flex;
  align-items: center;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 17px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
}
.our-clients .client__area::before, .our-clients .client__time::before {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  display: inline-block;
  content: " ";
  background-position: center;
}
.our-clients .client__area {
  border-right: 1px solid #ffffff;
}
.our-clients .client__area::before {
  background-image: url("../../assets/img/icons/area.svg");
}
.our-clients .client__time::before {
  background-image: url("../../assets/img/icons/tablet.svg");
}

.question {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1000px) {
  .question {
    position: static;
    transform: translateY(0);
  }
}
.question__inner {
  max-width: 880px;
  margin: 0 auto;
  background-color: #131313;
}
@media only screen and (max-width: 1000px) {
  .question__inner {
    max-width: 100%;
  }
}
.question__form {
  max-width: 520px;
  margin: 0 auto;
  padding: 34px 0;
}
.question .form {
  display: grid;
  grid-template-areas: "title title" "name phone" "question question" "agree agree" "submit submit";
  column-gap: 60px;
}
.question .form .form__title {
  grid-area: title;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 20px;
  text-transform: uppercase;
}
.question .form .field,
.question .form .form__agree,
.question .form .form__submit {
  margin-top: 45px;
}
.question .form .form__name {
  grid-area: name;
}
.question .form .form__phone {
  grid-area: phone;
}
.question .form .form__question {
  grid-area: question;
}
.question .form .form__agree {
  grid-area: agree;
}
.question .form .form__submit {
  grid-area: submit;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .question .form {
    grid-template-areas: "title" "name" "phone" "question" "agree" "submit";
    padding: 0 16px;
  }
  .question .form .form__title {
    margin-top: 40px;
  }
  .question .form .field {
    margin-top: 60px;
  }
  .question .form .form__agree {
    margin-top: 22px;
  }
  .question .form .form__submit {
    margin-top: 70px;
  }
}

.contacts {
  padding-bottom: 65px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-image: url("../../assets/img/contacts-background.png");
  background-size: cover;
}
.contacts__address-and-tel {
  order: 1;
  max-width: 590px;
  margin-top: 270px;
  font-family: "Yeseva One", "Arial", serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
}
.contacts__address-and-tel a {
  color: #e3b873;
  text-decoration: none;
}
.contacts__social {
  order: 1;
  margin-top: 26px;
}
.contacts__email, .contacts__instagram {
  width: 28px;
  height: 28px;
  margin: 0 7.5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #e3b873;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts__email:hover, .contacts__instagram:hover {
  box-shadow: 0 0 3px #e3b873, 0 0 3px #e3b873;
}
.contacts__email:active, .contacts__instagram:active {
  opacity: 0.7;
}
.contacts__email {
  background-image: url("../../assets/img/icons/email.svg");
}
.contacts__instagram {
  background-image: url("../../assets/img/icons/instagram.svg");
}
.contacts__map {
  order: 1;
  max-width: 925px;
  width: 100%;
  margin-top: 45px;
}
.contacts__map .proportional {
  position: relative;
  width: 100%;
  padding-top: 50%;
}
.contacts__map .proportional__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/map.png");
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1000px) {
  .contacts__address-and-tel {
    margin-top: 45px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .contacts {
    padding: 0 32px 40px;
  }
  .contacts__map {
    order: 0;
  }
  .contacts__map .proportional {
    padding-top: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .contacts {
    padding: 0 16px 40px;
    background-image: none;
  }
}

body {
  background-color: #252525;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #131313;
}
/*# sourceMappingURL=maps/main.css.map */
