.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 707px;
  margin-left: 82px;
  padding-left: 60px;

  background-color: black;
  background-image: url("../assets/img/banner-background.png");

  .title {
    width: 530px;
    margin-bottom: 19px;

    font-family: $font-yeseva-one;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: $color-text-on-dark;

    span {
      color: $color-stand-out-on-dark;
    }
  }

  .text {
    width: 440px;
    margin-bottom: 40px;

    font-family: $font-futura-book-c;
    font-size: 22px;
    line-height: 30px;
    color: $color-text-on-dark;
  }

  p.text {
    display: none;
  }

  .buttons-panel {
    display: flex;
    justify-content: space-between;
    width: 434px;

    &__button {
      box-sizing: border-box;
      width: 207px;
      height: 51px;

      font-family: $font-futura-demi-c;
      color: $color-text-on-dark;

      background-color: unset;

      border-radius: 2px;
      border: 1px solid #FFFFFF;
      cursor: pointer;

      &:hover {
        border: 0;
        background-color: $color-stand-out-on-dark;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
      }

      &:active {
        opacity: 0.9;
      }
    }
  }

  .scroll-down-btn {
    position: absolute;
    bottom: -48px;
    left: -82px;

    width: 248px;
    height: 98px;

    color: $color-text-on-dark;

    background-color: $color-dark-bg;
    border: 0;
    cursor: pointer;

    &:hover {
      color: $color-stand-out-on-dark;
    }

    &:active .scroll-down-btn__text {
      opacity: 0.5;
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      font-family: $font-yeseva-one;
      font-size: 14px;
      line-height: 19px;

      text-transform: uppercase;
    }

    &__text::after {
      display: inline-block;
      width: 29px;
      height: 29px;
      margin-left: 12px;
      background-image: url('../assets/img/scroll-down-icon.svg');
      content: " ";
    }
  }

  .instagram-link {
    position: absolute;
    top: 227px;
    left: -49px;

    display: inline-flex;
    align-items: center;

    font-family: $font-futura-demi-c;
    font-size: 14px;
    line-height: 16px;
    color: $color-stand-out-on-dark;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: left bottom;

    &::after {
      display: inline-block;
      width: 51px;
      height: 0;
      margin-left: 8px;

      border: 1.5px solid #E3B873;
      content: " ";
    }

    &:active {
      opacity: 0.7;
    }
  }

  @media #{$phone-query} {
    justify-content: space-between;
    height: auto;
    padding: 85px 18px 61px;
    margin: 0;

    background-position: center;
    background-size: cover;

    .title {
      width: auto;
      margin-bottom: 16px;
      font-size: 23px;
      line-height: 30px;
    }

    pre.text {
      display: none;
    }

    p.text {
      display: block;
      width: auto;
      margin-bottom: 32px;
    }

    .buttons-panel {
      flex-direction: column;
      justify-content: space-between;
      width: auto;
      height: 128px;

      &__button {
        width: auto;
      }
    }

    .scroll-down-btn,
    .instagram-link {
      display: none;
    }
  }
}