.projects {

  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 125px 100px 128px 200px 1fr;
  grid-column-gap: 50px;
  padding: 50px 0 416px 65px;

  grid-template-areas:
    "indent navbar"
    "title slider"
    "text slider"
    "features slider"
    "pagination slider";

  &__indent {
    grid-area: indent;
  }

  &__navbar {
    grid-area: navbar;

    height: 125px;
    font-family: $font-yeseva-one;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.3);
  }

  .horizontal-menu {
    justify-content: flex-start;

    &__item {
      margin-right: 60px;
      padding-bottom: 6px;

      &:nth-child(3) {
        margin-right: 0;
      }

      &_active,
      &:hover {
        font-weight: normal;
        color: $color-stand-out-on-dark;
        border-bottom: 1px solid $color-stand-out-on-dark;
      }
    }
  }

  &__slider {
    grid-area: slider;

    .slider {
      position: relative;
      height: 480px;
      font-size: 0;
      overflow: hidden;

      &__controls-layer {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 100%;
        padding: 0 45px;
      }

      &__next-btn,
      &__prev-btn {
        z-index: 10;
        width: 54px;
        height: 54px;
        border-radius: 54px;
        box-shadow: 0 0 15px rgba(227, 184, 115, 0.5);
        background-color: $color-stand-out-on-dark;
        background-image: url("../assets/img/slider-btn-icon.svg");
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }

        &:active {
          opacity: 1;
        }

        &_hidden {
          z-index: 5;
        }
      }

      &__prev-btn {
        transform: rotate(180deg);
      }

      &__content-layer {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: max-content;
        margin: 0 -14px;
      }

      &__item {
        display: inline-block;
        margin: 0 14px;
      }

      @media #{$phone-query} {
        &__prev-btn {
          transform: rotate(180deg) scale(0.66);
        }

        &__next-btn {
          transform: scale(0.66);
        }
      }
    }
  }

  &__title {
    grid-area: title;
    font-size: 0;

    .with-after {
      display: flex;
      align-items: flex-end;
      width: min-content;

      font-family: $font-yeseva-one;
      font-size: 27px;
      line-height: 37px;
      letter-spacing: -0.07em;
      text-transform: uppercase;
      color: $color-stand-out-on-dark;
    }

    .with-after::after {
      position: relative;
      left: -24px;

      display: inline-block;
      width: 104px;
      margin-bottom: 13px;

      border: 1px solid $color-stand-out-on-dark;
      content: " ";
    }

    @media #{$phone-ls-query} {
      display: flex;
      justify-content: center;

      .with-after {
        align-items: flex-start;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
      }

      .with-after::after {
        display: none;
      }
    }
  }

  &__text {
    grid-area: text;

    width: 98%;

    font-family: $font-futura-book-c;
    font-size: 18px;
    line-height: 29px;

    color: $color-text-on-dark;

    @media #{$phone-ls-query} {
      width: auto;
      margin: 0 14px;
      text-align: center;
    }

    @media #{$phone-query} {
      font-size: 14px;
      line-height: 158.48%;
    }
  }

  &__features {
    grid-area: features;

    display: grid;
    grid-template-columns: 43% 57%;
    grid-template-rows: 106px 1fr;

    .field {
      &__name {
        font-family: $font-yeseva-one;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;

        color: $color-stand-out-on-dark;
      }

      &__value {
        font-family: $font-futura-book-c;
        font-size: 14px;
        line-height: 19px;

        color: $color-text-on-dark;
      }
    }

    @media #{$phone-ls-query} {
      grid-template-columns: 47% 53%;
      grid-template-rows: 95px 108px;

      .field {
        &__name {
          font-size: 14px;
          line-height: 138.6%;
        }

        &__value {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }

  @media #{$tablet-ls-query} {

    grid-template-columns: 250px 1fr;

    grid-template-areas:
      "title navbar"
      "text slider"
      "text slider"
      "features slider"
      "pagination slider";


    &__indent {
      display: none;
    }
  }

  @media #{$phone-ls-query} {

    padding: 36px 18px 0;

    grid-template-columns: 1fr;
    grid-template-rows: 88px auto auto 167px;
    grid-column-gap: 0;
    grid-template-areas:
      "title"
      "text"
      "slider"
      "features";

    &__navbar,
    .pagination {
      display: none;
    }

    .slider {
      position: relative;
      height: auto;
      margin: 40px 0 45px;
      overflow: visible;
      display: flex;
      justify-content: center;

      &__prev-btn_hidden {
        z-index: 10;
      }

      &__controls-layer {
        position: absolute;
        width: 92%;
        padding: 0;
      }

      &__content-layer {
        width: 100%;
        position: static;
      }

      &__item {
        width: 100%;
        margin: 0;
        padding: 0;

        &:not(:nth-child(2)) {
          display: none;
        }
      }
    }
  }
}
