.types-of-repair {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 779px 0 124px;

  background-color: white;

  &__title {
    margin-bottom: 31px;

    .layer-icon__icon {
      width: 28px;
      height: 28px;

      background-image: url("../../assets/img/types-of-repair-icon.svg");
    }

    .layer-icon__line.line {
      width: 32px;
    }
  }

  &__items-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 1236px;
    margin: 0 -15px 27px;
  }

  &__item {
    width: 32%;
    margin-bottom: 187px;

    background-position: center;
    background-size: cover;

    &:nth-child(1){
      background-image: url("../assets/img/repair-types-card-bg-1.png");
    }
    &:nth-child(2){
      background-image: url("../assets/img/repair-types-card-bg-2.png");
    }
    &:nth-child(3){
      background-image: url("../assets/img/repair-types-card-bg-3.png");
    }

    .card {
      position: relative;
      top: 233px;

      padding: 25px 12% 59px;
      margin: 65px 32px;
      background-color: white;

      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

      &__title {
        margin-bottom: 13px;

        font-family: $font-yeseva-one;
        font-size: 18px;
        line-height: 25px;

        color: #363636;
      }

      &__features {
        margin: 0 0 0 15px;

        font-family: $font-futura-book-c;
        font-size: 15px;
        line-height: 25px;

        color: #959595;
      }

      &__price {
        position: absolute;
        left: 0px;
        bottom: -26px;

        width: 228px;
        height: 54px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: $font-yeseva-one;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;

        color: #FFFFFF;

        background-color: #E3B873;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      }
    }
  }

  @media #{$tablet-query} {

    .card {
      padding:
        25px
        calc(0.498 * 100% - 107px)
        59px
      ;
    }
  }


  @media #{$phone-ls-query} {

    padding: 83px 17px 266px;

    &__title {
      margin-bottom: 40px;
    }

    &__items-container {
      flex-direction: column;
    }

    &__item {
      width: auto;
      padding: 30px 0;
      margin-bottom: 177px;
    }

    .card {
      padding: 25px 12% 59px;
    }
  }

  @media #{$phone-query} {

    .card {
      top: 173px;

      padding: 25px 12% 37px;
      margin-left: 0;

      &__title {
        font-size: 15px;
        line-height: 21px;
      }

      &__features {
        font-size: 13px;
        line-height: 22px;
      }

      &__price {
        bottom: -20px;

        width: 190px;
        height: 40px;

        font-size: 15px;
        line-height: 21px;
      }
    }
  }
}
