.wildest-fantasies {

  background-color: yellow;

  &__content {
    background-color: green;

    &__title {
      background-color: green;
      width: 400px;
      height: 120px;
    }
    
    &__styles-menu {
      background-color: blue;
      width: 250px;
      height: 800px;
    }
    
    &__gallery {}
    
    &__slider {
      display: none;
    }
  }
}


// &__content {
//   height: 864px;
//   background-color: yellow;
// }

// @media #{$phone-query} {

//   &__wrapper {
//     position: absolute;
//     left: 0;
//     width: 100%;
//   }

//   &__content {
//     position: relative;
//     top: -211px;
//     width: 340px;
//     height: 322px;
//     margin: 0 auto;
//   }
// }