@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/FuturaDemiC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../assets/fonts/YesevaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}