@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/FuturaDemiC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/FuturaBookC-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}